In [2]:
import pandas as pd

# Read the CSV file
def getDataframeFromCountryCSV(country):
    return pd.read_csv(f'DATA/{country}.csv')
  
  
df = getDataframeFromCountryCSV("Argentina")

In [3]:
df.head()

,YEAR,ELEMENT,VALUE1,DMFLAG1,QCFLAG1,DSFLAG1,VALUE2,DMFLAG2,QCFLAG2,DSFLAG2,...,VALUE12,DMFLAG12,QCFLAG12,DSFLAG12,LATITUDE,LONGITUDE,ELEVATION,STATION,Country Code,Country
0,1961,TAVG,2721,NaN,NaN,{,2451,NaN,NaN,{,...,2441,NaN,NaN,{,-30.267,-57.65,53.0,MONTE_CASEROS_AERO,AR,Argentina
1,1961,TAVG,2721,NaN,NaN,{,2451,NaN,NaN,{,...,2441,NaN,NaN,{,-30.267,-57.65,53.0,MONTE_CASEROS_AERO,AR,Argentina
2,1962,TAVG,2591,NaN,NaN,{,2481,NaN,NaN,{,...,2601,NaN,NaN,{,-30.267,-57.65,53.0,MONTE_CASEROS_AERO,AR,Argentina
3,1962,TAVG,2591,NaN,NaN,{,2481,NaN,NaN,{,...,2601,NaN,NaN,{,-30.267,-57.65,53.0,MONTE_CASEROS_AERO,AR,Argentina
4,1963,TAVG,2571,NaN,NaN,{,2531,NaN,NaN,{,...,2351,NaN,NaN,{,-30.267,-57.65,53.0,MONTE_CASEROS_AERO,AR,Argentina